html {
    box-sizing: border-box;
}

.body {
    display: flex;  
    justify-content: space-around;
}

.container1 {
    display: flex;
}

.container2 {
    display: block;
}

.box {
    color: white;
    border: 4px solid #333;
    font-size: 24px;
    padding: 10px;
}

.box1 {
    background: #086bdd;
}

.box2 {
    background: #1c0989;
}

.box3 {
    background: #00028b;
}

.box4 {
    background: #7c58de;
}