html {
    box-sizing: border-box;
}

body { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}


.header {
    display: flex;
    align-items: center;
    background: #222;
    padding: 12px 24px;
    gap: 16px;
}
.header img[alt="Capa Principal"] {
    
}
.header h2 {
    margin: 0;
    font-size: 14px;
    color: #fff;
}
#current-date {
    font-size: 8px;
    color: #ccc;
}
.header div {
    margin-left: auto;
    display: flex;
    gap: 16px;
}
.header div img {
    width: 28px;
    height: 28px;
}

.nav{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.main{
    display: grid; 
    grid-template-areas: "left main right";
    grid-template-columns: 1fr 2fr 1fr;     
}
.sidebarEsquerda{
    display: grid; 
    align-items: center;  
} 
 
.sidebarDireita{
    display: grid;
    align-items: center;
}

.conteudoPrincipal {
    display: grid; 
    align-items: center; 
    justify-content: center;   
} 